@page
@model bike_gps_crud.Pages.UserTrails.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserTrail[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTrail[0].Trail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTrail[0].DateRidden)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserTrail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trail.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRidden)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserTrailId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserTrailId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserTrailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
