@page
@model bike_gps_crud.Pages.Trails.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Bozeman Bike Trails</h1>
        <p class="lead text-body-secondary">This page represents a culmination of many of the local Bozeman mountain bike trails.</p>
        <p>
          <a asp-page="Trails/Create" class="btn btn-primary my-2">Create New</a>
          <a href="#" class="btn btn-secondary my-2">Search</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      
      @* <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> *@
      @*   <div class="col"> *@
      @*     <div class="card shadow-sm"> *@
      @*       <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> *@
      @*       <div class="card-body"> *@
      @*         <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> *@
      @*         <div class="d-flex justify-content-between align-items-center"> *@
      @*           <div class="btn-group"> *@
      @*             <button type="button" class="btn btn-sm btn-outline-secondary">Map View</button> *@
      @*             <button type="button" class="btn btn-sm btn-outline-secondary">Photos</button> *@
      @*           </div> *@
      @*           <small class="text-body-secondary">9 mins</small> *@
      @*         </div> *@
      @*       </div> *@
      @*     </div> *@
      @*   </div> *@
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @foreach (var item in Model.Trails)
        {
          <div class="col">
            <div class="card shadow-sm">
              <img src="@item.ImageUrl" class="card-img-top" alt="@item.Name" />
              <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">
                  <strong>Description:</strong> @item.Description <br />
                  <strong>Difficulty:</strong> @item.Difficulty <br />
                  <strong>Type:</strong> @item.TrailType
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a asp-page="./Trails/Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Details</a>
                    <a asp-page="./Trails/Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Delete</a>
                  </div>
                  @* <small class="text-body-secondary">Last updated: 9 mins ago</small> *@
                </div>
              </div>
            </div>
          </div>
        }
      </div>

    </div>
  </div>