@page
@model bike_gps_crud.Pages.Trails.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Trails Repository</h1>

<form>
    <p>
        <label>Search By Title: <input type="text" asp-for="SearchString" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>

<select asp-for="TrailType" asp-items="Model.TrailTypes">
    <option value="">All</option>
</select>


<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trails[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trails[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trails[0].Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trails[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trails[0].TrailType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Trails) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrailType)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
